.idea/
.pytest_cache
_windows
codestyles
allure-report/
allure-results/
reports/
logs/
temporaryDataLog/
__pycache__/
/__pycache__
venv/  
test_pp.py
kk.py
upload/批量开通月票.xls
upload/批量续费月票.xls
upload/批量退费月票.xls
upload/智能盘点.xls